/* 小屏幕（平板，大于等于 768px） sm-min */

@media (min-width: 768px) {
    .container {
        padding: 0px;
    }
    .swiper-gameCenter .swiperGame {
        width: 668px;
        height: 300px
    }
    .news .newContent .title {
        height: 25px;
        line-height: 28px;
    }
    .news .newContent .time {
        height: 21px;
    }
    .news .more .goTo {
        margin: 7px 0;
        margin-left: -37px;
    }
    .news article {
        height: 117px;
    }
    .news .newContent .content {
        overflow: hidden;
        height: 62px;
    }
    .thumbs {
        height: 74px;
    }
    .thumbBK {
        height: 105px;
    }
    .swiper-container {
        height: 504px;
    }
    .game-ctrl .gamePic {
        height: 103px;
    }
    #logo {
        width: 110px;
        height: 95px;
    }
    .nav_co {
        margin: 30px 0;
    }
    .nav_co li {
        width: 80px;
        font-size: 14px;
    }
    .footLogo {
        background: url(../image/logo-foot.png) no-repeat;
        height: 160px;
        background-position: 10%;
        background-size: 100%;
    }
    footer .information {
        height: 160px;
        padding: 33px 0;
    }
    li.liCtrl {
        width: 62px;
    }
    
    #User,#User-logined{
        float: right;
        margin: 30px 0;
        font-size: 14px;
    }
    #User .login {
        float: left;
        padding: 4px;
        height: 35px;
        line-height: 28px;
        background: url(../image/login.png) no-repeat;
        background-position: center left;
        padding-left: 25px;
    }
    #User .reg {
        float: left;
        padding: 4px;
        height: 35px;
        line-height: 28px;
        background: url(../image/reg.png) no-repeat;
        background-position: center left;
        padding-left: 25px;
    }
}


/* 中等屏幕（桌面显示器，大于等于 992px） md-min */

@media (min-width: 992px) {
    .swiper-gameCenter .swiperGame {
        width: 910px;
        height: 315px;
    }
    .news .newContent .title {
        height: 40px;
        line-height: 40px;
    }
    .news .newContent .time {
        height: 21px;
    }
    .news .more .goTo {
        margin: 24px 0;
        margin-left: -20px;
    }
    .news article {
        height: 150px;
    }
    .news .newContent .content {
        height: auto;
    }
    .thumbs {
        height: 96px;
    }
    .thumbBK {
        height: 130px;
    }
    .swiper-container {
        height: 650px;
    }
    .game-ctrl .gamePic {
        height: 138px;
    }
    #logo {
        width: 160px;
        height: 125px;
    }
    .nav_co {
        margin: 48px 0;
    }
    .nav_co li {
        width: 101px;
        font-size: 18px;
    }
    .footLogo {
        background: url(../image/logo-foot.png) no-repeat;
        height: 160px;
        background-position: 70%;
    }
    footer .information {
        height: 160px;
        padding: 32px 0;
    }
    li.liCtrl {
        width: 76px;
    }
    #User,#User-logined{
        float: right;
        margin: 48px 0;
        font-size: 18px;
    }
    #User .login {
        float: left;
        padding: 4px;
        height: 35px;
        line-height: 28px;
        background: url(../image/login.png) no-repeat;
        background-position: center left;
        padding-left: 30px;
    }
    #User .reg {
        float: left;
        padding: 4px;
        height: 35px;
        line-height: 28px;
        background: url(../image/reg.png) no-repeat;
        background-position: center left;
        padding-left: 30px;
    }
}


/* 大屏幕（大桌面显示器，大于等于 1200px） lg-min */

@media (min-width: 1200px) {
    .swiper-gameCenter .swiperGame {
        width: 1110px;
        height: 335px;
    }
    .news .newContent .title {
        height: 50px;
        line-height: 60px;
    }
    .news .newContent .time {
        height: 21px;
    }
    .news .more .goTo {
        margin: 35px 0;
    }
    .news article {
        height: 172px;
    }
    .thumbs {
        height: 117px;
    }
    .thumbBK {
        height: 150px;
    }
    .swiper-container {
        height: 710px;
    }
    .game-ctrl .gamePic {
        height: 176px;
    }
    #logo {
        width: 220px;
        height: 130px;
    }
    .nav_co {
        margin: 48px 0;
    }
    .nav_co li {
        width: 101px;
        font-size: 18px;
    }
    .footLogo {
        background: url(../image/logo-foot.png) no-repeat;
        height: 160px;
        background-position: 70%;
    }
    footer .information {
        height: 160px;
        padding: 32px 0;
    }
    li.liCtrl {
        width: 76px;
    }
    #User,#User-logined{
        float: right;
        margin: 48px 0;
        font-size: 18px;
    }
    #User .login {
        float: left;
        padding: 4px;
        height: 35px;
        line-height: 28px;
        background: url(../image/login.png) no-repeat;
        background-position: center left;
        padding-left: 30px;
    }
    #User .reg {
        float: left;
        padding: 4px;
        height: 35px;
        line-height: 28px;
        background: url(../image/reg.png) no-repeat;
        background-position: center left;
        padding-left: 30px;
    }
}
