
/* 小屏幕（平板，大于等于 768px） sm-min */

@media (min-width: 768px) {
    .container {
        padding: 0px;
    }
    .swiper-gameCenter .swiperGame {
        width: 668px;
    }
    .news .newContent .title{
        height: 25px;
        line-height: 28px;

    }
    .news .newContent .time{
        height: 21px;

    }
    .news .more .goTo{
        margin: 7px 0;
        margin-left: -37px;

    }
    .news article{
        height: 117px;
    }
    .news .newContent .content{
        overflow: hidden;
        height: 62px;

    }
}
/* 中等屏幕（桌面显示器，大于等于 992px） md-min */

@media (min-width: 992px) {
    .swiper-gameCenter .swiperGame {
        width: 892px;
    }
    .news .newContent .title{
        height: 40px;
        line-height: 40px;

    }
    .news .newContent .time{
        height: 21px;

    }
    .news .more .goTo{
        margin: 24px 0;
        margin-left: -20px;

    }
    .news article{
        height: 150px;
    }
    .news .newContent .content{
        height: auto;
        
    }
}
/* 大屏幕（大桌面显示器，大于等于 1200px） lg-min */

@media (min-width: 1200px) {
    .swiper-gameCenter .swiperGame {
        width: 1100px;
    }
    .news .newContent .title{
        height: 50px;
        line-height: 60px;

    }
    .news .newContent .time{
        height: 21px;

    }
    .news .more .goTo{
        margin: 35px 0;

    }
    .news article{
        height: 172px;
    }
}
